/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version,ie > 8
*/

.container_nous{
    .titre_nous{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        background-color: white;
        -webkit-box-shadow: 1px 1px 7px rgba(48, 48, 48, 0.753);
                box-shadow: 1px 1px 7px rgba(48, 48, 48, 0.753);
    }

    .titre_presentation{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        font-size: 20px;
        background-color: white;
        margin-bottom: 0px;
        
        h2{
            width: 98%;
            border-bottom: 1px solid #d2d2d2;
            margin-bottom: 0px;
        }
    }

    .bloc_text{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: auto;
        background-color: white;
      
        
        p{
            width: 100%;
            font-size: 19px;
            margin-left: 2%;
            margin-bottom: 0px;
        }
    }

    .logo{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        
       img{
           -o-object-fit: cover;
              object-fit: cover;
           width: 100%;
           height:100%;
       }
    };

};


// Version mobile // 
@media screen and (max-width: 562px) {
  
    .container_nous{
        .titre_nous{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            background-color: white;
            -webkit-box-shadow: 1px 1px 7px rgba(48, 48, 48, 0.753);
                    box-shadow: 1px 1px 7px rgba(48, 48, 48, 0.753);
        }
    
        .titre_presentation{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            font-size: 20px;;
            background-color: white;
            margin-bottom: 0px;
            
            h2{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
              
                -ms-flex-wrap: nowrap;
              
                    flex-wrap: nowrap;
                width: 98%;
                border-bottom: 1px solid #d2d2d2;
                margin-bottom: 0px;
            }
        }
    
        .bloc_text{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -ms-flex-wrap: nowrap;
                flex-wrap: nowrap;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: space-evenly;
                -ms-flex-pack: space-evenly;
                    justify-content: space-evenly;
            height: auto;
            background-color: white;
            padding-left: 20px;
            
            p{
                width: 100%;
                font-size: 16px;
                margin-left: 2%;
                margin-bottom: 0px;
            }
        }
    
        .logo{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            
           img{
               -o-object-fit: cover;
                  object-fit: cover;
               width: 100%;
               height: 100%;
           }
        };
    
    };
}
